$contentWidth: 800px;
$c1Width: 528px;
$c2Width: 230px;
$contentMargin: 21px;

$black: #555;
$gray: lighten($black, 50);
$white: #ffffff;
$red: #df0000;
$green: #00b20b;
$blue: #00bded;

$transition: 0.2s;

.w100 {
  width: 100%;
}