<!DOCTYPE html>
<html>
{{meta}}
{{head}}
<body>
<div class="bottom-bg">
    <div class="content-wrapper">
        <div class="header">
            <ul class="left">
                <li><a href="/o-proekte/">О проекте</a></li>
                <li><a href="/kontakty/">Контакты</a></li>
                <li><a href="/spetspredlojeniya/">Спецпредложения</a></li>
            </ul>
            <a href="/" class="logo"></a>
            <ul class="right">
                <li>Служба бронирования:</li>
                <li class="phone">+7(495)<span>797-05-84</span></li>
                <li><a href="javascript:toggleCallbackForm();">Заказать бесплатный звонок</a></li>
            </ul>
        </div>
        {{teaser}}
        <div class="menu">
            {{menu1}}
        </div>
        <div class="twirl"></div>
        <div class="ornament section clearfix">
            <h1>{{h1}}</h1>
            <a href="/booking/">Заказать тур</a>
        </div>
        <div class="dynamic">
            {{}}
        </div>
        <div class="footer">
            <div class="wrapper clearfix">
                <ul class="left">
                    <li>Сделано в <a href="http://rudes.ru" target="_blank">РуДизайн</a></li>
                    <li><img src="/img/li.png" /></li>
                </ul>
                <div class="right">
                    {{menu1}}
                </div>
            </div>
        </div>
    </div>
</div>
    {{bottomJS}}
</body>
</html>